body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	box-sizing: border-box;
	background-color: #eeeeee;
	text-align: justify;
}

pre, code, .arg {
	font-family: "Roboto Mono", monospace;
}

.card {
	background-color: white;
	box-shadow: 5px 5px 5px #dddddd;
	padding: 30px;
	border-bottom: 1px solid #dddddd;
}

.card:last-child {
	border-bottom: none;
}

.card-header {
	text-align: left;
	font-weight: 300;
	margin: 0;
	color: #333333;
	font-size: 1.75em;
}

#name {
	font-size: 2.5em;
	margin-bottom: 20px;
}

h3 {
	display: inline;
	font-weight: 300;
	font-size: 1.2em;
	margin: 0;
	margin-right: 5px;
}

h4 {
	display: inline;
	font-weight: 300;
	font-size: 0.8em;
	color: #333333;
}

ul {
	list-style-type: disc;
}
ul.list {
	list-style-type: none;
	padding-left: 0;
}
li {
	margin-top: 10px;
	margin-bottom: 10px;
}

a[href] {
	color: #8e44ad;
	text-decoration: none;
}
a[href]:hover {
	text-decoration: underline;
}

hr {
	height: 1px;
	border-width: 0;
	color: #dddddd;
	background-color: #dddddd;
	margin-top: 20px;
	margin-bottom: 20px;
}

pre {
	border-left: 3px solid #8e44ad;
	padding-left: 15px;
	white-space: pre-wrap;
}

.func, .attr, .cmd, .op {
	font-size: 1.2em;
	font-weight: bold;
}

.cmd-inline, .op-inline {
	font-weight: bold;
}

.admin:after {
	content: "ADMIN";
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 0.75em;
	display: inline-block;
	padding: 2px 5px;
	background-color: #8e44ad;
	color: white;
	margin-left: 15px;
	vertical-align: middle;
}

.module-list {
	padding-left: 0;
	list-style-type: none;
	margin-bottom: 0;
}
.module-list li {
	display: inline;
}

.note {
	padding: 15px;
	border: 1px solid #8e44ad;
	background-color: #eac3fb;
}

.card > p:last-child {
	margin-bottom: 0;
}

@media screen and (min-width: 750px) {
.container {
	max-width: 750px;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}
}

@media screen and (max-width: 899px) {
.container {
	max-width: 600px;
}
}

@media screen and (max-width: 749px) {
.container {
	margin: auto;
}
}
